version: "3.6"
services:
  beacon-validator:
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v23.5.0
    restart: unless-stopped
    stop_grace_period: 1m
    environment:
      LOG_TYPE: INFO
      GRAFFITI: validating_from_DAppNode
      P2P_TCP_PORT: 9506
      P2P_UDP_PORT: 9506
      WEB3_BACKUP: ""
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
    ports:
      - "9506:9506/tcp"
      - "9506:9506/udp"
    volumes:
      - "nimbus-prater-data:/home/user/nimbus-eth2/build/data"
    image: "beacon-validator.nimbus-prater.dnp.dappnode.eth:0.1.0"
volumes:
  nimbus-prater-data: {}
